{{ range $i, $v := .ConfigVolume.Nodes }}
apiVersion: v1
kind: PersistentVolume
metadata:
  name: {{ $.Namespace }}-config-{{ $i }}
spec:
  capacity:
    storage: {{ $.ConfigVolume.Size }}
  volumeMode: Filesystem
  accessModes:
  - ReadWriteOnce
  persistentVolumeReclaimPolicy: Retain
  storageClassName: {{ $.Namespace }}-storage
  local:
    path: {{ $.ConfigVolume.Path }}
  nodeAffinity:
    required:
      nodeSelectorTerms:
      - matchExpressions:
        - key: {{ $.LabelConfig.Storage }}
          operator: Exists
      - matchExpressions:
        - key: kubernetes.io/hostname
          operator: In
          values:
          - {{ $v }}
---
{{ end }}
{{ range $i, $v := .StreamVolume.Nodes }}
apiVersion: v1
kind: PersistentVolume
metadata:
  name: {{ $.Namespace }}-stream-{{ $i }}
spec:
  capacity:
    storage: {{ $.StreamVolume.Size }}
  volumeMode: Filesystem
  accessModes:
  - ReadWriteOnce
  persistentVolumeReclaimPolicy: Retain
  storageClassName: {{ $.Namespace }}-storage
  local:
    path: {{ $.StreamVolume.Path }}
  nodeAffinity:
    required:
      nodeSelectorTerms:
      - matchExpressions:
        - key: {{ $.LabelConfig.Storage }}
          operator: Exists
      - matchExpressions:
        - key: kubernetes.io/hostname
          operator: In
          values:
          - {{ $v }}
---
{{ end }}
{{ range $i, $v := .DataVolume.Nodes }}
apiVersion: v1
kind: PersistentVolume
metadata:
  name: {{ $.Namespace }}-data-{{ $i }}
spec:
  capacity:
    storage: {{ $.DataVolume.Size }}
  volumeMode: Filesystem
  accessModes:
  - ReadWriteOnce
  persistentVolumeReclaimPolicy: Retain
  storageClassName: {{ $.Namespace }}-storage
  local:
    path: {{ $.DataVolume.Path }}
  nodeAffinity:
    required:
      nodeSelectorTerms:
      - matchExpressions:
        - key: {{ $.LabelConfig.Storage }}
          operator: Exists
      - matchExpressions:
        - key: kubernetes.io/hostname
          operator: In
          values:
          - {{ $v }}
---
{{ end }}