kind: ConfigMap
metadata:
  name: {{ .Zookeeper.AppName }}-config
  namespace: {{ .Namespace }}
apiVersion: v1
data:
  init-zookeeper.sh: |-
    #!/bin/bash
    set -e
    set -x

    [ -d /zookeeper/data ] || mkdir /zookeeper/data
    [ -d /zookeeper/log ]  || mkdir /zookeeper/log
    [ -z "$ID_OFFSET" ] && ID_OFFSET=1
    export ZOOKEEPER_SERVER_ID=$((${HOSTNAME##*-} + $ID_OFFSET))
    echo "${ZOOKEEPER_SERVER_ID:-1}" | tee /zookeeper/data/myid
    cp -Lur /etc/zookeeper-config/* /conf
    sed -i "s/server\.$ZOOKEEPER_SERVER_ID\=[a-z0-9.-]*/server.$ZOOKEEPER_SERVER_ID=0.0.0.0/" /conf/zoo.cfg
  zoo.cfg: |-
    tickTime={{ .Zookeeper.TickTime }}
    dataDir=/zookeeper/data
    dataLogDir=/zookeeper/log
    clientPort=2181
    maxClientCnxns={{ .Zookeeper.MaxClientCnxns }}
    initLimit={{ .Zookeeper.InitLimit }}
    syncLimit={{ .Zookeeper.SyncLimit }}
    {{ range $i, $v := int2slice .Zookeeper.Replicas }}server.{{ $v }}={{ $.Zookeeper.AppName }}-{{ $i }}.{{ $.Zookeeper.AppName }}-ensemble:2888:3888:participant
    {{ end }}
  log4j.properties: |-
    log4j.rootLogger=INFO, stdout
    log4j.appender.stdout=org.apache.log4j.ConsoleAppender
    log4j.appender.stdout.layout=org.apache.log4j.PatternLayout
    log4j.appender.stdout.layout.ConversionPattern=[%d] %p %m (%c)%n
    log4j.logger.org.apache.zookeeper.server.NIOServerCnxnFactory=WARN
    log4j.logger.org.apache.zookeeper.server.NIOServerCnxn=WARN