apiVersion: v1
kind: Service
metadata:
  name: {{ .Zookeeper.AppName }}-ensemble
  namespace: {{ .Namespace }}
spec:
  ports:
  - port: 2888
    name: follower
  - port: 3888
    name: election
  clusterIP: None
  selector:
    app: {{ .Zookeeper.AppName }}
---
apiVersion: v1
kind: Service
metadata:
  name: {{ .Zookeeper.AppName }}-server
  namespace: {{ .Namespace }}
spec:
  ports:
  - port: 2181
    name: client
  selector:
    app: {{ .Zookeeper.AppName }}
