apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: {{ .Broker.AppName }}
  namespace: {{ .Namespace }}
spec:
  selector:
    matchLabels:
      app: {{ .Broker.AppName }}
  serviceName: {{ .Broker.AppName }}-cluster
  replicas: {{ .Broker.Replicas }}
  updateStrategy:
    type: RollingUpdate
  podManagementPolicy: Parallel
  template:
    metadata:
      labels:
        app: {{ .Broker.AppName }}
    spec:
      terminationGracePeriodSeconds: 10
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
            - matchExpressions:
              - key: {{ .LabelConfig.Gateway }}
                operator: Exists
      containers:
      - name: iot-broker
        image: {{ .Broker.Image }}
        env:
        - name: IOT_PROTOCOL
          value: {{ .Broker.Protocol }}
        ports:
        - name: plain
          containerPort: {{ .Broker.PlainPort }}
        - name: tls
          containerPort: {{ .Broker.TlsPort }}
        lifecycle:
          preStop:
            exec:
             command: ["sh", "-ce", "kill -s TERM 1; while $(kill -0 1 2>/dev/null); do sleep 1; done"]
        resources:
          requests:
            cpu: {{ .Broker.Resources.CPU }}
            memory: {{ .Broker.Resources.Memory }}
        readinessProbe:
          tcpSocket:
            port: {{ .Broker.PlainPort }}
          initialDelaySeconds: 3
          timeoutSeconds: 2
          periodSeconds: 20
