apiVersion: batch/v1
kind: Job
metadata:
  name: create-{{ .Kafka.AppName }}-connect-topics
  namespace: {{ .Namespace }}
spec:
  parallelism: 1
  completions: 1
  template:
    metadata:
      name: create-{{ .Kafka.AppName }}-connect-topics
    spec:
      containers:
      - name: kafka-broker
        image: {{ .Kafka.Connect.Image }}
        env:
        - name: KAFKA_BROKER_REPLICAS
          value: "{{ .Kafka.Replicas }}"
        - name: ZOOKEEPER_SERVER
          value: "{{ .Zookeeper.AppName }}-server:2181/{{ .Kafka.Zkchroot }}"
        command: ['/bin/bash', '/kafka-connect/create-connect-topics.sh']
        volumeMounts:
        - name: configmap
          mountPath: /kafka-connect
      volumes:
      - name: configmap
        configMap:
          name: {{ .Kafka.AppName }}-connect-config
      restartPolicy: Never